<!--定制首页轮播图-->
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<div id="demo" class="carousel slide" data-ride="carousel" width="100%" height="320px" style="border: 0px; overflow: hidden; border-radius: 10px; margin-bottom: 25px;" scrolling="no">
 
  <!-- 指示符 -->
  <ul class="carousel-indicators">
    {% for item in site.carousel.item %}
	{% if forloop.index0==0 %}  
    	    <li data-target="#demo" data-slide-to="{{forloop.index0}}" class="active"></li>
    	{% else %}
    	    <li data-target="#demo" data-slide-to="{{forloop.index0}}"></li>
	{% endif %}
    {% endfor %}
  </ul>
 
  <!-- 轮播图片 -->
  <div class="carousel-inner">
    {% for item in site.carousel.item %}
        {% if forloop.index0==0 %}
    	    <div class="carousel-item active">
                <img src="{{item.img}}">
            </div>
	{% else %}
    	    <div class="carousel-item">
      	        <img src="{{item.img}}">
    	    </div>
	{% endif %}
     {% endfor %}
  </div>
 
  <!-- 左右切换按钮 -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

		<div  class="rights" style="width: 30%; height: 290px; margin-right: 0px;margin-left: 20px;float: left;">
  	   <!-- 天气插件 -->
       <iframe width="250px" scrolling="no" height="50px" frameborder="0" allowtransparency="true" src="//i.tianqi.com/index.php?c=code&id=12&color=%23&bdc=%23&icon=1&py=beijing&num=2&site=12"></iframe>

  	   <!-- r热门排行 -->
  	   <div class="my-carousel">
         <a href="{{site.url}}/top" target="_blank">
            <img class="right-siders nofancybox" src="/assets/images/hot.png" width="100%"/>
         </a>
  	   </div>

  	   <!-- 时光留影 -->
  	   <div class="my-carousel">
         <a href="{{site.url}}/album" target="_blank">
           <img class="right-siders nofancybox" src="/assets/images/time.png"/>
         </a>
  	   </div>

      <!-- 推荐阅读 -->
      <div class="my-carousel">
        <a href="{{site.url}}/life" target="_blank">
          <img class="right-siders nofancybox" src="/assets/images/read.png"/>
        </a>
      </div>

   </div>

</div>

