<!doctype html>
{% include _blocks/title.html %}
{% include _blocks/page_class.html %}
{% include _blocks/sidebar.html %}
{% include _blocks/script_extra.html %}
{% assign html_class = 'theme-next ' | append: site.scheme %}
{% if site.use_motion %}
  {% assign html_class = html_class | append: ' use-motion' %}
{% endif %}
<html class="{{ html_class | downcase }}" lang="{{ site.language }}">
<head>
  {% include _partials/head.html %}
  <title>{{ title }}</title>
  {% include _third-party/analytics/index.html %}
</head>
<body itemscope itemtype="http://schema.org/WebPage" lang="{{ page.lang | default: page.language | default: site.language }}">
	<div id="box" class="box"></div>
	<script type="text/javascript">
		function loadXMLDoc(xmlUrl) 
		{
			try //Internet Explorer
			{
				xmlDoc=new ActiveXObject("Microsoft.XMLDOM");
			}
			catch(e)
			{
				try //Firefox, Mozilla, Opera, etc.
				{
					xmlDoc=document.implementation.createDocument("","",null);
				}
				catch(e) {alert(e.message)}
			}
			try 
			{
				xmlDoc.async=false;
				xmlDoc.load(xmlUrl);
			}
			catch(e) {
				try //Google Chrome  
				{  
					var chromeXml = new XMLHttpRequest();
					chromeXml.open("GET", xmlUrl, false);
					chromeXml.send(null);
					xmlDoc = chromeXml.responseXML.documentElement; 				
					//alert(xmlDoc.childNodes[0].nodeName);
					//return xmlDoc;    
				}  
				catch(e)  
				{  
					alert(e.message)  
				}  		  	
			}
			return xmlDoc; 
		}
	 var xmllink="https://album-1300776923.cos.ap-shanghai.myqcloud.com"
		//访问域名链接就是我上面提到的那个访问域名xml链接
		xmlDoc=loadXMLDoc(xmllink);
		var urls=xmlDoc.getElementsByTagName('Key');
		var date=xmlDoc.getElementsByTagName('LastModified');
		var wid=250;
		var showNum=12; //每个相册一次展示多少照片
		if ((window.innerWidth)>1200) {wid=(window.innerWidth*3)/18;}
		var box=document.getElementById('box');
		var i=0;
		var content=new Array();
		var tmp=0;
		var kkk=-1;
		for (var t = 0; t < urls.length ; t++) {
			var bucket=urls[t].innerHTML;
			var length=bucket.indexOf('/');
			if(length===bucket.length-1){
				kkk++;
				content[kkk]=new Array();
				content[kkk][0]={'url':bucket,'date':date[t].innerHTML.substring(0,10)};
				tmp=1;
			}
			else {
				content[kkk][tmp++]={'url':bucket.substring(length+1),'date':date[t].innerHTML.substring(0,10)};
			}
		}
		for (var i = 0; i < content.length; i++) {
			var conBox=document.createElement("div");
			conBox.id='conBox'+i;
			box.appendChild(conBox);
			var item=document.createElement("div");
			var title=content[i][0].url;
			item.innerHTML="<button class=title style=background:url("+xmllink+'/'+title+"封面.jpg"+");><span style=display:inline;><strong style=color:#f0f3f6; >"+title.substring(0,title.length-1)+"</strong></span></button>";
			conBox.appendChild(item);
		}
		function moreClick(obj,cur,cont,title){
			var parent=obj.parentNode;
			parent.removeChild(obj);
			var j=obj.value;
			var begin=j;
			for ( ; j < cont.length && j < Number(showNum) + Number(begin); j++) {
				console.log( Number(showNum) + Number(begin));
				var con=cont[j].url;
				var item=document.createElement("li");
				item.innerHTML="<div class=imgbox id=imgbox style=height:"+wid+"px;><img class=imgitem src="+xmllink+'/'+title+con+" alt="+con+"></div><span>"+con.substring(0,con.length-4)+"</span><p>上传于"+cont[j].date+"</p>";
				parent.appendChild(item);
			}
			if(cont.length > j){
				obj.value=j;
				parent.appendChild(obj);
			}
		}
	</script>
	<footer id="footer" class="footer">
      <div class="footer-inner">
        {% include _partials/footer.html %}
        {% include _third-party/analytics/busuanzi-counter.html %}
        {{ footer }}
      </div>
    </footer>
    {% unless site.sidebar.b2t %}
      <div class="back-to-top">
        <i class="fa fa-arrow-up"></i>
        {% if site.sidebar.scrollpercent %}
          <span id="scrollpercent"><span>0</span>%</span>
        {% endif %}
      </div>
    {% endunless %}
    <!-- badApplePlayer -->
	{% if site.badApplePlayer.enable %}
	  <!-- Your XlchPlayerKey -->
	  <script>XlchKey="{{site.badApplePlayer.XlchKey}}";</script>
	  <!-- font-awesome 4.2.0 -->
	  <link href="https://lib.baomitu.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	  <!-- JQuery-mousewheel 3.1.9 -->
	  <script src="https://lib.baomitu.com/jquery-mousewheel/3.1.9/jquery.mousewheel.min.js"></script>
	  <!-- Scrollbar -->
	  <script src="https://static.https.badapple.top/BadApplePlayer/js/scrollbar.js"></script>
	  <!-- BadApplePlayer -->
	  <script src="https://static.https.badapple.top/BadApplePlayer/Player.js"></script>
	{% endif %}
 </body>
</html>